@import "src/app/styles/reset";
@import "variableslobal";
@import "themesormal";
@import "themesark";



.app{
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}
