.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width 0.3s;
  position: relative;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.item + .item {
  margin-top: 15px;
}

.link {
  transition: 0.3s opacity;
  white-space: nowrap;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    opacity: 0;
    width: 0;
  }
}
