.icon {
  fill: var(--inverted-primary-color);
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.item + .item {
  margin-top: 15px;
}

.link {
  transition: 0.3s opacity;
  white-space: nowrap;
}

.link.collapsed {
  opacity: 0;
  width: 0;
}
