.app.dark{
  --bg-color: #33136b;
  --inverted-bg-color: #FFD6F3;

  --primary-color: #049604;
  --secondary-color: #11da11;

  --inverted-primary-color: #241919;
  --inverted-secondary-color: #16449b;
}
