.app.light {
  --bg-color: #ffd6f3;
  --inverted-bg-color: #33136b;
  --primary-color: #241919;
  --secondary-color: #16449b;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #11da11;
}
